@media (prefers-color-scheme: light) {
  :root {
    --black: #212121;
    --blue: #039BE5;
    --hell-blue: #81D4FA;
    --red: #ff0000;
    --medium-gray: #BDBDBD;
    --hell-gray: #EEEEEE;
    --white: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #f5f2f0;
    --blue: #039BE5;
    --hell-blue: #81D4FA;
    --red: #ff0000;
    --medium-gray: #BDBDBD;
    --hell-gray: #EEEEEE;
    --white: #212121;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--white);
  color: var(--black);
  line-height: 1.25em;
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--hell-blue);
}

.header {
  width: calc(100% + 16px);
  color: var(--black);
  padding: 5px 0;
  max-width: 1440px;
  margin-left: -8px;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.header__nav {
  padding-left: 10px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media (max-width: 600px) {
  .header__nav ul {
    display: block;
  }
}

.header__nav ul li {
  margin-right: 10px;
}

.header__nav ul li:last-of-type {
  margin-right: 0;
}

@media (max-width: 600px) {
  .header__nav ul li {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .header__nav ul li:last-of-type {
    margin-bottom: 0;
  }
}

.header__nav a {
  display: inline-block;
  text-decoration: none;
  background: var(--blue);
  color: white;
  padding: 1em;
  border-radius: 10px;
}

.header__nav a:hover {
  background: var(--hell-blue);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
  padding: 0 10px;
}

.container img {
  max-width: 75%;
  width: auto;
  height: auto;
}

@media (max-width: 425px) {
  .container img {
    max-width: 100%;
  }
}

.mainpage {
  font-size: 1.5em;
}

.mainpage a {
  text-decoration: none;
}

.mainpage s {
  color: var(--medium-gray);
}

.mainpage a:hover {
  text-decoration: underline;
}

img.mainpage__image {
  max-width: 250px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.mainpage__avatar-place {
  position: relative;
  float:left;
  shape-outside: circle(50%);
  max-width:250px;
  max-height:250px;
  padding-right: 1em;
  padding-bottom: 1em;
}

@media (max-width: 600px) {
  .mainpage__avatar-place {
    float: none;
  }
}

.mainpage__avatar-blue {
  width: 200px;
  height: 30px;
  background: var(--blue);
  position: absolute;
  top: 40%;
  left: 25px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .title {
    display: block;
  }
}

.title__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.title__list li {
  margin-right: 1em;
}

.title__list li:last-of-type {
  margin-right: 0;
}

.title__link {
  display: inline-block;
  text-decoration: none;
  background: var(--blue);
  color: white;
  padding: 1em;
  border-radius: 10px;
}

.title__link:hover {
  background: var(--hell-blue);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 46%;
  margin-bottom: 2em;
}

@media (max-width: 1000px) {
  .posts .article {
    max-width: 100%;
  }
}

.posts .article:first-of-type {
  max-width: 100%;
}

.posts .article_recommended .article__more::after {
  content: " ★";
}

.article blockquote {
  position: relative;
  padding-top: 1em;
  padding-left: 2em;
  border-left: 1px solid var(--blue);
  margin-left: 0;
}

.article blockquote::before {
  content: 'цитата';
  position: absolute;
  top: 0;
  right: 0;
}

.article summary {
  cursor: pointer;
}

.article__precontent {
  margin-bottom: 1em;
}

.article__title a {
  text-decoration: none;
  color: var(--blue);
}

.article__title a:hover {
  color: var(--hell-blue);
}

.article__more {
  display: inline-block;
  text-decoration: none;
  background: var(--blue);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.article__more:hover {
  background: var(--hell-blue);
  color: white;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.article__time {
  color: var(--medium-gray);
}

.article_stuff {
  padding-top: 1em;
}

.article_stuff .article__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article_stuff .article__header img {
  display: inline-block;
  max-width: 50%;
  margin-right: 1em;
  height: auto;
}

@media (max-width: 1000px) {
  .article_stuff .article__header {
    display: block;
  }

  .article_stuff .article__header img {
    max-width: 100%;
    margin-right: 0;
  }
}

.stuff .article__more,
.stuff .article__more:hover {
  background: none;
  border-radius: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.stuff .article__more:hover img {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.container .stuff__nav img {
  width: 100%;
  max-width: 100%;
}

.stuff__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.stuff__nav ul li {
  margin-right: 1em;
  max-width: 45%;
}

.stuff__nav ul li:last-of-type {
  margin-right: 0;
}

.tag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.tag li {
  margin-right: 1em;
  margin-bottom: 1em;
}

.tag .tag__link {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tag .tag__link:hover,
.tag .tag__link:focus {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.tag .tag__link.tag__link_recommended::after {
  content: " ★";
}

.footer {
  padding: 1em 0;
  color: var(--medium-gray);
}

/* Вставляем видео картинкой */
/* Спасибо @pepelspey https://github.com/pepelsbey/playground */

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: var(--black);
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video .video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video__button-icon {
  fill: #ffffff;
}

.video__button:focus {
  outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: var(--red);
  fill-opacity: 1;
}

/* Enabled */

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}

/* Конец вставки видео */

/* Правка Prism */
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: var(--hell-gray);
}
