---
layout: layouts/base-layout.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
<h1>Отмечено тегом “{{ tag }}”</h1>

<section class="tag">
  <ol>
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
  {% endfor %}
  </ol>
</section>